<div class="container">
    <p style="font-size:20px;">Enter date in format yyyy-mm-dd(e.g. 2022-02-18)</p>
    <div class="search-bar">
        <input type="text" id="date" name="date" #date placeholder="Write a date..">
        <button class="button" (click)="findAbsenceByDate(date.value)">Search</button>
    </div>
    <p *ngIf="!is_date_valid" style="color: red; font-size:20px;">Please enter valid date!</p>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Absence date</th>
            <th>Absence category</th>
            <th>Comment</th>
            <th>Integration Id</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let abs_user of absence_users">
            <td class="td">{{ abs_user.name }}</td>
            <td class="td">{{ abs_user.surname }}</td>
            <td class="td">{{ abs_user.date }}</td>
            <td class="td">{{ abs_user.catDefinitionName }}</td>
            <td class="td">{{ abs_user.comment }}</td>
            <td class="td">{{ abs_user.integrationId }}</td>
            <td class="td">{{ abs_user.code }}</td>

        </tr>
    </tbody>
</table>