<br>
<h3> Choose type of absence </h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>IntegrationId</th>
            <th>Code</th>
            <th>Type</th>
            <th>Category</th>
            <th>Fraction</th>
        </tr>
    </thead>
    <tbody>
        <ng-template #other_content [ngStyle]="{'background-color': 'lightgray'}">no</ng-template>
        <tr *ngFor="let absence of absenceDef">
            <td class="td">{{ absence.Name }}</td>
            <td class="td">{{ absence.IntegrationId }}</td>
            <td class="td">{{ absence.Code }}</td>
            <td class="td">{{ absence.Type }}</td>
            <td class="td">{{ absence.CategoryDefinitionName }}</td>
            <td class="td">{{ absence.Fraction }}</td>
            <button type="button" (click)="getSelectedAbsence(absence)" class="button">Select absence</button>
        </tr>
    </tbody>
</table>
<br />
<div class="form-group shadow-textarea">
    <label style="margin-left: 30px;" for="exampleFormControlTextarea6">Comment</label>
    <textarea rows="5" [(ngModel)]="comment" #txtarea class="form-control z-depth-1" id="exampleFormControlTextarea6"
        placeholder="Write a comment here..." style="width: 500px; margin-left: 30px;"></textarea>
    <button class="btn btn-dark" style="margin-left: 440px; margin-top: 20px;"
        (click)="onSubmit(txtarea.value)">Save</button>
</div>