@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0px;
}

.container{
    width: 98%;
    border: 2px solid lightgray;
    background-color: lightblue;
    padding: 10px;
  }

  .container-grid {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 0.5em;
    background: lightgray;
  }

  .button {
    background-color: rgb(29, 28, 48); /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: white; /* Green */
    color: black;
  }

  .td {
    background: lightgray;
    padding: 5px;
}